<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

	{{!-- Document Settings --}}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	{{!-- Base Meta --}}
	<title>{{meta_title}}</title>
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	{{!-- Styles'n'Scripts --}}
	<link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway" rel="stylesheet">

	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

	<script src="{{asset "js/instafeed.js"}}"></script>

	{{!-- This tag outputs SEO meta+structured data and other important settings --}}
	{{ghost_head}}

</head>
<body class="{{body_class}}">

	{{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
	{{{body}}}
	
	{{!-- The footer at the very bottom of the screen --}}
	{{#if pagination}}
	<div class="site-pagination">
		{{{pagination}}}
	</div>
	{{/if}}

	<footer class="site-footer">
		<a href="/impressum/">Impressum</a> | <a href="/data-protection-policy/">Data Protection Policy</a>
	</footer>

	{{!-- jQuery --}}
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous">
	</script>

	{{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
	{{{block "scripts"}}}

	{{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
	{{ghost_foot}}

</body>
</html>
