{{!< default}}
<header class="site-header">
	{{navigation}}
</header>

<main class="site-main home">

	{{#foreach posts}}
	<article class="post-card post-{{@index}} {{post_class}}{{#unless feature_image}} no-image{{/unless}}">
		<div class="post-card-content">

			<header class="post-card-header">
				<h2 class="post-card-title"><a href="{{url}}">{{title}}</a></h2>
				<section class="post-card-excerpt">
					{{excerpt words="33"}}
				</section>
			</header>

			

			<div class="post-timestamp">
				<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
					<p><span>{{date format="DD"}}</span>{{date format="MMM"}}</p>
				</time>
			</div>

			{{#if feature_image}}
			<img class="post-card-photo" src="{{feature_image}}">
			{{/if}}
			
			<footer class="post-card-meta">

				{{#if primary_tag}}
					<span class="post-tag"><i class="fas fa-tags"></i> {{primary_tag.name}}</span>
				{{/if}}

				<span class="post-reading-time"><i class="fas fa-stopwatch"></i> {{reading_time minute="1 min" minutes="% min"}}</span>

			</footer>
		</div>
	</article>

	{{#if @first}}
	<article class="site-cblock cblock-about" id="about">
		<div class="site-cblock-content">
			
			{{#get "posts" slug="home" as |post|}}
				{{#post}}
				<section class="content-wrapper about-bio">

					{{content}}

				</section>
				{{/post}}
			{{/get}}
			<section class="about-insta">
				<div class="description">
					<h3>Instagram</h3>
					<p><a class="linkhover" href="https://www.instagram.com/travellingwithsandyfeet/">@travellingwithsandyfeet</a> / <a class="linkhover" href="https://www.instagram.com/explore/tags/travellingwithsandyfeet/">#travellingwithsandyfeet</a></p>
				</div>
				<div id="instafeed" class="instafeed">

				</div>
				<script type="text/javascript">
				var feed = new Instafeed({
					get: 'user',
					userId: '254974762',
					accessToken: '254974762.1677ed0.ce6fbf0264fd4bc584aa57d0bd131f54',
					limit: '6'
				});
				feed.run();
				</script>
			</section>

		</div>
	</article>
	{{/if}}

	{{/foreach}}
</main>