{{!< default}}
<header class="site-header">
    {{navigation}}
</header>

<main class="site-main">

    {{#foreach posts}}
    <article class="post-card post-{{@index}} {{post_class}}{{#unless feature_image}} no-image{{/unless}}">
        {{#if feature_image}}
        <img class="post-card-photo" src="{{feature_image}}">
        {{/if}}

        <div class="post-card-content">

            <div class="post-timestamp">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
                    <p><span>{{date format="DD"}}</span>{{date format="MMM"}}</p>
                </time>
            </div>

            <header class="post-card-header">
                <div class="post-card-header-content">
                    <h2 class="post-card-title">{{title}}</h2>
                </div>
            </header>

            <section class="post-card-excerpt">
                <p>{{excerpt words="33"}}</p>
            </section>
            
            <footer class="post-card-meta">

                {{#if primary_tag}}
                    <span class="post-tag"><i class="fas fa-tags"></i> {{primary_tag.name}}</span>
                {{/if}}

                <span class="post-reading-time"><i class="fas fa-stopwatch"></i> {{reading_time minute="1 min" minutes="% min"}}</span>

            </footer>
        </div>
    </article>

    {{#if @first}}
    <article class="about">
        <div class="post-card-content about-content">
            
            <header class="about-header">
                <h2 class="about-title">About me</h2>
            </header>
            <section class="about-bio">
                <p>A couple of words about me.</p>
            </section>
            <section class="about-insta">
                Instagram Feed
            </section>
        </div>
    </article>
    {{/if}}

    {{/foreach}}
</main>