{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header">
	{{navigation}}
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main class="site-main site-main--post postpage">
	<section class="post-card post-head flex-fullwidth">
		<div class="post-card-content">

			<div class="post-timestamp">
				<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
					<p><span>{{date format="DD"}}</span>{{date format="MMM"}}</p>
				</time>
			</div>

			<header class="post-card-header">
				<h2 class="post-card-title">{{title}}</h2>
			</header>

			{{#if feature_image}}
			<img class="post-card-photo" src="{{feature_image}}">
			{{/if}}
			
			<footer class="post-card-meta">

				{{#if primary_tag}}
					<span class="post-tag"><i class="fas fa-tags"></i> {{primary_tag.name}}</span>
				{{/if}}

				<span class="post-reading-time"><i class="fas fa-stopwatch"></i> {{reading_time minute="1 min" minutes="% min"}}</span>

			</footer>
		</div>
	</section>
	<section class="post-content">
		{{content}}
	</section>
</main>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

</script>
{{/contentFor}}
