{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header">
	{{navigation}}
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main class="site-main site-main--post postpage">
	<section class="post-card post-head flex-fullwidth">
		<div class="post-card-content">

			{{#if feature_image}}
			<img class="post-card-photo" src="{{feature_image}}">
			{{/if}}
			
		</div>
		<div class="post-timestamp">
			<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
				<p><span>{{date format="DD"}}</span>{{date format="MMM"}}</p>
			</time>
		</div>
	</section>
	<header class="post-header">
		<h1 class="post-title">{{title}}</h1>
	</header>
	<section class="content-wrapper post-content">
		{{content}}
	</section>
</main>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

</script>
{{/contentFor}}
