{{!< default}}
<header class="site-header">
	{{navigation}}
</header>

<main class="site-main people">

	{{#foreach posts}}

	<article class="postpreview postpreview--{{@index}} {{#unless feature_image}} no-image{{/unless}}">
		<div class="postpreview-content">

			<header class="postpreview-header">
				<h2 class="postpreview-title"><a href="{{url}}">{{title}}</a></h2>
				
				{{#if excerpt}}
				<section class="postpreview-excerpt">
					{{excerpt words="33"}}
				</section>
				{{/if}}
			</header>

			<div class="postpreview-timestamp timestamp">
				<time class="timestamp-date" datetime="{{date format='YYYY-MM-DD'}}">
					<p><span>{{date format="DD"}}</span>{{date format="MMM"}}</p>
				</time>
			</div>

			{{#if feature_image}}
			<img class="postpreview-photo" src="{{feature_image}}">
			{{/if}}
			
			<footer class="postpreview-meta meta">

				{{#if tags}}
					<span class="meta-tag"><i class="fas fa-tags"></i> {{tags autolink="false"}}</span>
				{{/if}}

				<span class="meta-reading-time"><i class="fas fa-stopwatch"></i> {{reading_time minute="1 min" minutes="% min"}}</span>

			</footer>
		</div>
	</article>

	{{#if @first}}
	<article class="cblock cblock--people" id="people">
		<div class="cblock-content">
			
			{{#get "pages" slug="people" as |post|}}
				{{#post}}
				<section class="content-wrapper">

					{{content}}

				</section>
				{{/post}}
			{{/get}}
		</div>
	</article>
	{{/if}}

	{{/foreach}}
</main>